<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ladybird.hkd.mapper.CourseMapper" >

    <select id="selectAllCourse" resultType="com.ladybird.hkd.model.pojo.Course">
        select * from course
    </select>
    <insert id="addCourse" parameterType="com.ladybird.hkd.model.pojo.Course">
        INSERT INTO course  VALUES( #{c_id},#{c_name},#{tip})

    </insert>
    <update id="updateCourse" parameterType="com.ladybird.hkd.model.pojo.Course">
        UPDATE course SET c_name = #{c_name} WHERE c_id = #{c_id}
    </update>

    <select id="selectCourseByPrimary" parameterType="String" resultType="int">
        SELECT count(1) from course WHERE c_id=#{c_id}
    </select>
    <select id="findCourse" parameterType="com.ladybird.hkd.model.pojo.Course" resultType="com.ladybird.hkd.model.pojo.Course">
        SELECT * FROM course
        <where>

            <if test="c_id != null">
                and c_id = #{c_id}
            </if>
            <if test="c_name != null and c_name != ''">
                and c_name LIKE '%${c_name}%'
            </if>
        </where>
    </select>

    <select id="selByTeacher" parameterType="String" resultType="com.ladybird.hkd.model.pojo.Course">
        SELECT * from course WHERE c_id IN (SELECT course FROM teach WHERE teacher=${t_num})
    </select>

</mapper>