<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ladybird.hkd.mapper.ExamMapper" >

    <resultMap id="examOut" type="com.ladybird.hkd.model.example.ExamExample">
        <id column="exam_id" property="exam_id" jdbcType="VARCHAR"/>
        <result column="finish_time" property="finish_time"  />
        <result column="begin_time" property="begin_time" />
        <result column="duration" property="duration" />
        <result column="state" property="state"/>
        <result column="grade" property="grade"/>
        <association property="dept" javaType="com.ladybird.hkd.model.example.DepartmentExample">
            <id column="dept_num" property="dept_num"/>
            <result column="dept_name" property="dept_name"/>
        </association>
        <!--<association propergradeExamplerade" javaTycom.ladybird.hkd.model.example.Graderade">
            <id column="g_id" property="g_id"/>
            <result column="g_year" property="g_year"/>
            <result column="g_class" property="g_class"/>
        </association>-->
        <association property="course" javaType="com.ladybird.hkd.model.pojo.Course">
            <id column="c_id" property="c_id" />
            <result column="c_name" property="c_name" jdbcType="VARCHAR"/>
        </association>
    </resultMap>

    <resultMap id="paperEditMap" type="com.ladybird.hkd.model.example.PaperEditExample">
        <id property="id" column="id"/>
        <result property="single_count" column="single_count"/>
        <result property="single_score" column="single_score"/>
        <result property="multiple_count" column="multiple_count"/>
        <result property="multiple_score" column="multiple_score"/>
        <result property="checking_count" column="checking_count"/>
        <result property="checking_score" column="checking_score"/>
        <result property="duration" column="duration"/>
        <association property="course" column="course" javaType="com.ladybird.hkd.model.pojo.Course">
            <id property="c_id" column="c_id"/>
            <result property="c_name" column="c_name"/>
            <result property="tip" column="tip"/>
        </association>
    </resultMap>

   <!-- <select id="selectExamByCourseStuNum" resultMap="examOut">
        SELECT * FROM exam e
         LEFT JOIN course c ON e.course=c.c_id
        LEFT JgradeExamplerade g OgradeExamplerade=g.g_id
        WHgradeExamplerade=(SELgradeExamplerade FROM students WHERE stu_num=${stu_num} )
              AND course=${course}
    </select>-->
    <select id="checkOutPaperEditExm" resultMap="paperEditMap">
        SELECT * FROM paper_edit WHERE course=${course}
    </select>

    <select id="checkOutPaperEdit" resultType="com.ladybird.hkd.model.pojo.PaperEdit">
        SELECT * FROM paper_edit WHERE course=${course}
    </select>

    <update id="changePaperEdit" parameterType="com.ladybird.hkd.model.pojo.PaperEdit">
        UPDATE paper_edit SET single_count=#{single_count},single_score=#{single_score}
        ,multiple_count=#{multiple_count},multiple_score=#{multiple_score}
        ,checking_count=#{checking_count},checking_score=#{checking_score}
        WHERE course=${course}
    </update>

    <insert id="checkInPaperEdit" parameterType="com.ladybird.hkd.model.pojo.PaperEdit">
        INSERT INTO paper_edit
        VALUES (#{id},#{course},#{single_count},#{single_score}
        ,#{multiple_count},#{multiple_score},#{checking_count},#{checking_score},#{duration},#{tip})
    </insert>

    <select id="checkOutPaperEditExs" resultMap="paperEditMap">
        SELECT * FROM paper_edit
    </select>

    <select id="selectExamByStu" resultMap="examOut" parameterType="com.ladybird.hkd.model.pojo.Student">
        SELECT * FROM exam e
        LEFT JOIN course c ON e.course=c.c_id
        LEFT JOIN department d ON d.dept_num=e.dept
#         LEFT JOIN gradeExample g ON e.gradeExample=g.g_id
        WHERE finish_time &gt; now() AND
        e.grade LIKE CONCAT('%',#{grade},'%')
        <!--<foreach collectigradeExamplesades" open="(" close=")" separator=","  itgradeExamplerade">-->
            <!--gradeExamplerade}-->
        <!--</foreach>-->
    </select>

    <select id="checkOutExamById" resultMap="examOut">
        SELECT * FROM exam e
            LEFT JOIN course c ON e.course=c.c_id
            LEFT JOIN department d ON d.dept_num=e.dept
        #             LEFT JOIN grade g ON e.grade=g.g_id
        WHERE exam_id=${exam_id}
    </select>

    <select id="checkOutExamByIds" resultMap="examOut">
        SELECT * FROM exam e
        LEFT JOIN course c ON e.course=c.c_id
        LEFT JOIN department d ON d.dept_num=e.dept
#         LEFT JOIN grade g ON e.grade=g.g_id
        WHERE exam_id IN
        <foreach collection="ids" open="(" close=")" separator=","  item="id">
            ${id}
        </foreach>
    </select>

    <select id="checkExamState" resultType="Integer" parameterType="String">
        SELECT state from exam WHERE exam_id=#{exam_id}
    </select>

    <select id="checkOutByCourseGradesDept" resultMap="examOut">
        SELECT * FROM exam e
            LEFT JOIN course c ON e.course=c.c_id
            LEFT JOIN department d ON e.dept=d.dept_num
#             LEFT JOIN gradeExample g ON e.gradeExample=g.g_id
        WHERE course=${course} AND e.dept=${dept} AND NOT state=-1
        AND e.grade IN
        <foreach collection="gradeExamples" open="(" close=")" separator=","  item="gradeExample">
            ${gradeExample}
        </foreach>

    </select>

    <update id="changeStateAndBegin" >
        UPDATE exam SET state=${state} , begin_time=#{begin_time,jdbcType=TIMESTAMP}
        WHERE exam_id
        IN
        <foreach collection="ids" open="(" close=")" separator=","  item="id">
            ${id}
        </foreach>
    </update>

    <update id="updatePaper" parameterType="com.ladybird.hkd.model.pojo.PaperEdit">
        UPDATE paper_edit SET single_choice=${single_choice},multiple_choice=${multiple_choice},checking=${checking} where id=1
    </update>

    <select id="checkOutPaper" resultType="com.ladybird.hkd.model.pojo.PaperEdit">
        select *
        from paper_edit where id=1
    </select>

    <sql id="selCourseId">
        SELECT c_id FROM course WHERE c_id = ${course}
    </sql>

    <sql id="selGradeId">
        SELECT g_id FROM grade WHERE g_id=${grade}
    </sql>

    <!--<insert id="addExam" parameterType="com.ladybird.hkd.model.pojo.Exam">
            INSERT INTO exam(exam_id,cougradeExamplerade,pre_time,duration,state) VALUES (${exam_id},
            ${coursegradeExamplerade},${dept},#{pre_time,jdbcType=TIMESTAMP},${duration},${state});

    </insert>-->

    <insert id="addExams" parameterType="com.ladybird.hkd.model.pojo.Exam">
        <foreach collection="exams" item="e" separator=";">
            INSERT INTO exam(exam_id,course,grade,dept,pre_time,duration,state) VALUES (${e.exam_id},
            ${e.course},${e.grade},${e.dept},#{e.pre_time,jdbcType=TIMESTAMP},${e.duration},${state})
        </foreach>
    </insert>

    <insert id="addExam" parameterType="com.ladybird.hkd.model.pojo.Exam">
        INSERT INTO exam (exam_id,course,teacher,grade,finish_time,begin_time,duration,state)
                VALUES (#{exam.exam_id},#{exam.course},#{exam.teacher},#{exam.grade},#{exam.finish_time,jdbcType=TIMESTAMP},now(),#{exam.duration},#{exam.state})
    </insert>

    <select id="selGradesByTC" resultType="String">
        SELECT grade FROM exam WHERE teacher=#{t_num} AND course=#{course} AND begin_time &gt;  #{begin_date}
    </select>
</mapper>