<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ladybird.hkd.mapper.FacultyMapper" >

    <select id="selectAllFaculty" resultType="com.ladybird.hkd.model.pojo.Faculty">
        select * from faculty
    </select>
    <insert id="addFaculty" parameterType="com.ladybird.hkd.model.pojo.Faculty">
        INSERT INTO faculty  VALUES( #{fac_num}, #{fac_name},#{tip})
    </insert>

    <update id="updateFaculty" parameterType="com.ladybird.hkd.model.pojo.Faculty">
        UPDATE faculty
      SET
        fac_name = #{fac_name},
        tip = #{tip}
      WHERE fac_num = #{fac_num} ;

    </update>

    <select id="findFaculty" parameterType="com.ladybird.hkd.model.pojo.Faculty" resultType="com.ladybird.hkd.model.pojo.Faculty">
        SELECT * FROM faculty
        <where>

            <if test="fac_num != null and fac_num != ''">
                and fac_num = #{fac_num}
            </if>
            <if test="fac_name != null and fac_name != ''">
                and fac_name LIKE '%${fac_name}%'
            </if>
        </where>
    </select>
    <select id="selectFacultyByPrimary" parameterType="string" resultType="int">
        select count(1) from faculty where fac_num = #{fac_num}
    </select>
</mapper>