<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ladybird.hkd.mapper.StudentManageMapper" >

    <select id="selectAllGrade" parameterType="int" resultType="Integer">
          SELECT
              g_year
            FROM
              gradeExample
            where
              g_year > #{gradelow}

    </select>
    <select id="selectStudent" resultType="com.ladybird.hkd.model.vo.StudentVo">
        select
        s.stu_name,
        s.stu_num,
        f.fac_name,
        d.dept_name,
        g.g_year,
        g.g_class,
        s.stu_ID
        from students s
        LEFT JOIN faculty f ON s.stu_faculty = f.fac_num
        LEFT JOIN department d ON s.dept = d.dept_num
        LEFT JOIN grade g ON s.grade = g.g_id
        <where>
           <if test="student.stu_num != null and student.stu_num != ''">
                and s.stu_num = #{student.stu_num}
            </if>
            <if test="student.stu_ID != null and student.stu_ID != ''">
                and s.stu_ID = #{student.stu_ID}
            </if>
            <if test="student.stu_name != null and student.stu_name != ''">
                and s.stu_name = #{student.stu_name}
            </if>
            <if test="student.stu_faculty != null and student.stu_faculty != ''">
                and s.stu_faculty in(SELECT fac_num FROM faculty WHERE fac_name like '%${student.stu_faculty}%')
            </if>
            <if test="student.dept != null and student.dept != ''">
               and s.dept IN(SELECT dept_num FROM department WHERE dept_name LIKE '%${student.dept}%')
            </if>
            <if test="student.grade != null and student.grade != ''">
                and s.grade = #{student.grade}
            </if>
        </where>
        limit #{startNum},#{pageSize}
    </select>
    <insert id="addStudent" parameterType="com.ladybird.hkd.model.pojo.Student">
        INSERT INTO students (
          stu_num,
          stu_ID,
          stu_name,
          stu_faculty,
          dept,
          grade
        )
        VALUES
          (
          #{stu_num},
            #{stu_ID},
            #{stu_name},
           #{stu_faculty},
            #{dept},
           #{grade}
          )
    </insert>
    <delete id="deleteStudent" parameterType="string">
        DELETE
        FROM
          students
        WHERE stu_num = #{stu_num};

    </delete>

    <update id="updateStudent" parameterType="com.ladybird.hkd.model.pojo.Student">
        UPDATE
          students
        SET
          stu_ID = #{stu_ID},
          stu_name = #{stu_name},
          stu_faculty = #{stu_faculty},
          dept = #{dept},
          grade = #{grade}
        WHERE stu_num = #{stu_num} ;
    </update>
    <select id="findStudent" parameterType="com.ladybird.hkd.model.pojo.Student" resultType="com.ladybird.hkd.model.pojo.Student">
        select * from student
         <where>
             <if test="stu_num != null and stu_nun !=''">
                  and stu_num = #{stu_num}
             </if>
             <if test="stu_ID != null and stu_ID !=''">
                 and stu_ID = #{stu_ID}
             </if>
             <if test="stu_name != null and stu_name !=''">
                  and stu_name like '%${stu_name}%'
             </if>
             <if test="stu_faculty != null and stu_faculty !=''">
                 and stu_faculty = #{stu_faculty}
             </if>
             <if test="stu_name != null and stu_name !=''">
                 and stu_name like '%${stu_name}%'
             </if>
         </where>
    </select>
    <select id="selectCount" resultType="int">
        select count(1) from students
    </select>
</mapper>