<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ladybird.hkd.mapper.StudentMapper" >
    <select id="findByNumAndPwd" parameterType="com.ladybird.hkd.pojo.Student" resultType="com.ladybird.hkd.pojo.Student">
        SELECT * FROM students WHERE stu_num=${stu_num} and stu_pwd=${stu_pwd}
    </select>

    <select id="findByNum" parameterType="String" resultType="com.ladybird.hkd.pojo.Student">
        SELECT * from students WHERE stu_num=${stu_num}
    </select>
</mapper>