<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ladybird.hkd.mapper.StudentManageMapper" >

    <select id="selectAllGrade" parameterType="int" resultType="Integer">
          SELECT
              g_year
            FROM
              gradeExample
            where
              g_year > #{gradelow}

    </select>
    <select id="selectStudent" parameterType="com.ladybird.hkd.model.pojo.Student" resultType="com.ladybird.hkd.model.vo.StudentVo">
        select
         s.stu_name,
          s.stu_num,
          d.dept_name,
         g.g_year,
          g.g_class,
         s.stu_ID
        from students s
        LEFT JOIN department d ON s.dept = d.dept_num
        LEFT JOIN grade g ON s.grade = g.g_id
        <where>
            <if test="stu_num != null and stu_num != ''">
                and stu_num = #{stu_num}
            </if>
            <if test="stu_ID != null and stu_ID != ''">
                and stu_ID = #{stu_ID}
            </if>
            <if test="stu_name != null and stu_name != ''">
                and stu_name = #{stu_name}
            </if>
            <if test="stu_faculty != null and stu_faculty != ''">
                and stu_faculty = #{stu_faculty}
            </if>
            <if test="dept != null and dept != ''">
                and dept = #{dept}
            </if>
            <if test="grade != null and grade != ''">
                and grade = #{grade}
            </if>
        </where>
    </select>



    <insert id="addStudent" parameterType="com.ladybird.hkd.model.pojo.Student">
        INSERT INTO `nopaper`.`students` (
          `stu_num`,
          `stu_ID`,
          `stu_name`,
          `stu_faculty`,
          `dept`,
          `gradeExample`,
          `stu_pwd`,
          `tip`
        )
        VALUES
          (
            'stu_num' = #{stu_num},
            'stu_ID' = #{stu_ID},
            'stu_name' = #{stu_name},
            'stu_faculty' = #{stu_faculty},
            'dept' = #{dept},
            'gradeExample' = #{gradeExample},
            'stu_pwd' = #{stu_pwd},
            'tip' = #{tip}
          ) ;
    </insert>
    <delete id="deleteStudent" parameterType="string">
        DELETE
        FROM
          students
        WHERE stu_num = #{stu_num};

    </delete>

    <update id="updateStudent" parameterType="com.ladybird.hkd.model.pojo.Student">
        UPDATE
          students
        SET
          stu_ID = #{stu_ID},
          stu_name = #{stu_name},
          stu_faculty = #{stu_faculty},
          dept = #{dept},
          gradeExample = #{gradeExample},
          stu_pwd = #{stu_pwd},
          tip = #{tip}
        WHERE stu_num = #{stu_num} ;
    </update>
    <select id="findStudent" parameterType="com.ladybird.hkd.model.pojo.Student" resultType="com.ladybird.hkd.model.pojo.Student">
        select * from student
         <where>
             <if test="stu_num != null and stu_nun !=''">
                  and stu_num = #{stu_num}
             </if>
             <if test="stu_ID != null and stu_ID !=''">
                 and stu_ID = #{stu_ID}
             </if>
             <if test="stu_name != null and stu_name !=''">
                  and stu_name like '%${stu_name}%'
             </if>
             <if test="stu_faculty != null and stu_faculty !=''">
                 and stu_faculty = #{stu_faculty}
             </if>
             <if test="stu_name != null and stu_name !=''">
                 and stu_name like '%${stu_name}%'
             </if>
         </where>

    </select>
</mapper>